.cuerpo{
    background: linear-gradient(to bottom,#191c32,#b3aadb);
    width: 100%;
    margin: 0 auto;
    
}
.main{
    height: 100%;
    width: 100%;
    color: #fff;
    margin: 0 auto;
}

.sobre-mi{
    align-items: center;
    display: grid;
    height: auto;
    grid-template-columns: repeat(2,1fr);
    margin: 0.75rem auto;
    width: 80vw;
    justify-items: center;
}
.sobre-mi__titulo{
    font-size: 3em;
}

span{
    color: aqua;
}
.sobre-mi__parrafo{
    font-size: 20px;
}
.button{
    background: aqua;
    border: none;
    border-radius: 5px;
    color: #111;
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    cursor: pointer;
    box-shadow:  10px 10px 30px 15px black;
    
}
.button:hover{
    background: #fff;
    box-shadow: none;
}
.sobre-mi__button{
    height: 1rem;
    margin-right: 0.8rem;
    width: 1rem;
}
.sobre-mi__photoPerfil{
    background: url(../../img/perfil.jpeg) no-repeat center/ cover;
    border-radius:30%;
    height: 250px;
    width: 250px;
}

@media screen and (max-width: 550px) {
    .cuerpo{
        width: 100%;
    }
    .sobre-mi{
        display: flex;
        flex-direction: column;
        margin: 0 auto;

    }
    .sobre-mi__photoPerfil{
        margin: 1rem;
    }

    
}