.proyectos{
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
}
.proyectos__titulo{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.proyectos__ficheros{    
    display: flex;
    flex-direction: column;
}
.proyecto__ejemplo{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}
.proyecto__iframe{
    height: 400px;
    display: flex;
}
.proyecto__buton{
    display: inline-block;
    margin-top: 20%;
}
.proyecto__buton a button{
    background: aqua;
    border: none;
    border-radius: 5px;
    color: #111;
    font-weight: bold;
    margin-right: 3rem;
    padding: 0.7rem 1rem;
    cursor: pointer;
    box-shadow:  10px 10px 30px 15px black;
}
.proyecto__buton a button:hover{
    background: #fff;
    box-shadow: none;
}