.hobbies{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0.75rem auto;
}
.hobbies__titulo{
    text-align: center;
    font-size: 35px;
    flex-basis: 100%;
    margin: 0 auto;

}
.hobbies__contenedor{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.hobbies__contenido{
    background: linear-gradient(to bottom,#b3aadb,#191c32);
    border: #fff solid;
    margin: 1.3rem 1.4rem;
    height: auto;
    width: 10rem;
}

.hobbies__parrafo{
    color: #111;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.hobbies__img{
    height: 7rem;
    width: 7rem;
    align-content: center;
}
.hobbies__img__futbol{
    background: url(../../img/futbol.png) no-repeat center/cover;
    margin: 0.5rem auto;
}
.hobbies__img__series{
    background: url(../..//img/viendo-una-pelicula.png) no-repeat center/cover;
    margin: 0.5rem auto;
}
.hobbies__img__bicicleta{
    background: url(../../img/road-bike.png) no-repeat center/cover;
    margin: 0.5rem auto;
}
.hobbies__img__musica{
    background: url(../../img//auriculares.png) no-repeat center/cover;
    margin: 0.5rem auto;
}
.hobbies__img__libros{
    background: url(../../img/libro-abierto.png) no-repeat center/cover;
    margin: 0.5rem auto;
}