.formacion{
    align-items: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.formacion__titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    flex-basis: 100%;
}
.formacion__centros{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.formacion__centro{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}
.formacion__span{
    color: #111;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 300px;
}
.formacion__img{
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    width: 20rem;
    margin: 0 3rem;
}