.skills{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0.75rem auto;
}
.skills__titulo{
    text-align: center;
    font-size: 35px;
    flex-basis: 100%;
    margin: 0 auto;
}
.skills__contenedor{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.skills__lista{
    display: flex;
    flex-wrap: wrap;
    width: 90% ;
    height: 80%;
    margin: 0 auto;
    list-style: none;
    justify-content: center;
}
.skills-item{
    height: 17.5%;
    margin: 0 auto;
    width: 17.5%;
    padding: 1rem 1rem;
    align-items: center;
}
.skills__imagen{
    height: 8rem;
    width: 8rem;
    margin: 2rem 10rem;
    image-rendering: optimizeSpeed;
}