.skills{
    padding: 2rem 0;
}
.skills__titulo{
    font-size: 30px;
    display: block;
    text-align: center;
}
.skills__contenedor{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
.skills__lista{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90% ;
    height: 80%;
    margin: 0 auto;
    list-style: none;
}
.skills-item{
    height: 17.5%;
    margin: 0 auto;
    width: 17.5%;
    padding: 1rem 1rem;
    align-items: center;
}
.skills__imagen{
    height: 8rem;
    width: 8rem;
    margin: 2rem 10rem;
    image-rendering: optimizeSpeed;
}