.footer{    
    background: #000;
    height: 10rem;
    width: 100%;
}
.contacto{
    color: #fff;
    height: 3rem;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    
}
.contacto__titulo{
    color: #fff;
    font-size: 30px;    
}